<header>
  <div class="p-grid">
    <div class="col-12 text-center">
      <button *ngIf="showParishBtn" pButton type="button" label="{{'Consultar Parroquias' | translate}}" class="p-button-info p-button-text"
      (click)="goToparishedSection()"></button>

      <button *ngIf="showPriestBtn" pButton type="button" label="{{'Consultar Sacerdotes' | translate}}" class="p-button-info p-button-text"
      (click)="goTopriestsSection()"></button>
    </div>
  </div>
</header>

<main>
  <p-toast></p-toast>
  <router-outlet></router-outlet>
</main>

<footer>
  <div class="footer">
    <div class="container">
      <p>&copy; 2024 <a href="https://example.com/">Juan Camilo - Autodidact</a>.</p>
    </div>
  </div>
</footer>