<header>
  <div class="p-grid">
    <div class="col-12 text-center">
      <button pButton type="button" label="{{'Parroquias' | translate}}" class="p-button-info p-button-text"
      (click)="goToparishedSection()"></button>

      <button pButton type="button" label="{{'Sacerdotes' | translate}}" class="p-button-info p-button-text"
      (click)="goTopriestsSection()"></button>
    </div>
  </div>

  <!-- Ejemplo
  <div *ngIf="isActiveHeader" class="p-grid p-justify-end">
      <div class="col-12 text-right">
        <button
        pButton
          label="{{'Parroquias' | translate}}"
          class="p-button-secondary p-button-text"
          (click)="logOut()"
        >
          <i class="pi pi-sign-out"></i>
        </button>
      </div>
    </div> -->
</header>

<main>
  <!-- <p-toast></p-toast> -->
  <!-- (activate)="routeIsActive()" -->
  <router-outlet></router-outlet>
</main>

<footer>
  <div class="footer">
    <div class="container">
      <p>&copy; 2024 <a href="https://example.com/">Juan Camilo - Autodidact</a>.</p>
    </div>
  </div>
</footer>